<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmployeeManagementCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeManagement</display-name>
    <servlet-name>EmployeeManagement</servlet-name>
    <servlet-class>EmployeeManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeManagement</servlet-name>
    <url-pattern>/EmployeeManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeView</display-name>
    <servlet-name>EmployeeView</servlet-name>
    <servlet-class>EmployeeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeView</servlet-name>
    <url-pattern>/EmployeeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeTable</display-name>
    <servlet-name>EmployeeTable</servlet-name>
    <servlet-class>EmployeeTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeTable</servlet-name>
    <url-pattern>/EmployeeTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEdit</display-name>
    <servlet-name>EmployeeEdit</servlet-name>
    <servlet-class>EmployeeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEdit</servlet-name>
    <url-pattern>/EmployeeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDelete</display-name>
    <servlet-name>EmployeeDelete</servlet-name>
    <servlet-class>EmployeeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDelete</servlet-name>
    <url-pattern>/EmployeeDelete</url-pattern>
  </servlet-mapping>
</web-app>